<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
        <link href="../static/styles.css" rel="stylesheet">
        <title>CS50 Reviews: Homepage</title>
        <link rel="icon" type="image/x-icon"
            href="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Harvard_University_shield.svg/1779px-Harvard_University_shield.svg.png">
    </head>

    <body id="home_page">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://cs50.harvard.edu/x/">CS50x</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav nav_head">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/postReview">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/showReviews">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faqs">FAQs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav_end">
                        <li class="nav-item">
                            <a class="nav-link icon" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="home_text">
            <h1>Welcome to CS50 Reviews</h1>
            <p>Review, rate, don’t hesitate—CS50’s waiting for your take!</p>
        </div>

        <!-- Profile Modal -->
        <div class="modal fade profile_modal" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-image: linear-gradient(0deg, rgba(6, 5, 17, 0.9), rgba(2, 3, 8, 0.7)), url('https://i.pinimg.com/originals/e1/4f/82/e14f8230de342d30cee8099737994f7c.jpg'); background-size: cover; background-position: center;">  
                    <h5 class="modal-title pm_title mt-4" id="profileModalLabel">CS50</h5>
                    <div class="avatar mx-auto mt-2" data-label={{ profile.firstLetter }}></div>
                    <div class="mx-auto mt-1" style="font-size: xx-large; font-weight: 800;">{{ profile.username }}</div>
                    <div class="dash_box mt-5">
                        <div class="dash_boxes">
                            <span>Total Reviews</span>
                            <p>{{ profile.reviews_count }}</p>
                        </div>
                        <div class="dash_boxes">
                            <span>Total Upvotes</span>
                            <p style="color: rgb(35, 209, 35);">{{ profile.total_upvotes }}</p>
                        </div>
                        <div class="dash_boxes">
                            <span>Total Downvotes</span>
                            <p style="color: rgb(243, 72, 72);">{{ profile.total_downvotes }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
